/*
  main color      SLATE     #434455
  secondary color NAVY BLUE #2E2F42
  light color     WHITE     #FFFFFF
  accent          CLOUD     #F4F4FD
  dark bg color   NAVY BLUE #2E2F42
  button color    IRIS      #4D5AE5
*/
:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --light-color: #ffffff;
  --accent-color: #f4f4fd;
  --dark-bg-color: #2e2f42;
  --button-color: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.center {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ----- HEADER ----- */

/* .header {
}
.header-navigation {
} */

.header-logo {
  line-height: 1.33;
  color: var(--title-text-color);
}

.logo-color {
  color: #4d5ae5;
}

/* .header-list {
}
.header-item {
} */

.header-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address {
  font-style: normal;
}

/* .address-list {
}
.address-item {
} */

.address-email,
.address-tel {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-link:active,
.address-email:active {
  color: #404bbf;
}

.header-link:hover,
.header-link:focus,
.address-email:hover,
.address-email:focus,
.address-tel:hover,
.address-tel:focus {
  color: #4d5ae5;
}

/* ----- HERO ----- */

.hero {
  background-color: var(--dark-bg-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--light-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: var(--button-color);
  color: var(--light-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ----- SECTION ----- */

/* .section {
}
 */
.section.accent-bg {
  background-color: var(--accent-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

/* .section-list {
}
.section-item {
} */

.section-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ----- FOOTER ----- */

.footer {
  background-color: var(--dark-bg-color);
}

.footer-logo {
  line-height: 1.17;
  color: var(--light-color);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
