/*
  main color      SLATE     #434455
  secondary color NAVY BLUE #2E2F42
  light color     WHITE     #FFFFFF
  accent          CLOUD     #F4F4FD
  dark bg color   NAVY BLUE #2E2F42
  button color    IRIS      #4D5AE5
*/
:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --light-color: #ffffff;
  --accent-color: #f4f4fd;
  --dark-bg-color: #2e2f42;
  --button-color: #4d5ae5;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}

.center {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ----- HEADER ----- */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
/* .header-navigation {
} */

.header-logo {
  line-height: 1.33;
  color: var(--title-text-color);
}

.logo-color {
  color: #4d5ae5;
}

/* .header-list {
}
.header-item {
} */

.header-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link:active {
  color: #4d5ae5;
}

.header-link.active-page {
  color: #4d5ae5;
}
.address {
  font-style: normal;
}

/* .address-list {
}
.address-item {
} */

.address-email,
.address-tel {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-link:hover,
.header-link:focus,
.address-email:hover,
.address-email:focus,
.address-tel:hover,
.address-tel:focus {
  color: #404bbf;
}
/* ----- HERO ----- */

.hero {
  background-color: var(--dark-bg-color);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--light-color);
  margin-bottom: 48px;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--button-color);
  color: #e7e9fc;
}

.btn:active {
  background-color: #404bbf;
  color: var(--light-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn {
  background-color: var(--button-color);
  color: var(--light-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ----- SECTION ----- */

/* .section {
} */

.section.accent-bg {
  background-color: var(--accent-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

/* .section-list {
} */
.section-item {
  background-color: #fff;
}

.section-item.card-team {
  width: 264px;
}

.section-caption {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ----- PRINCIPLES----- */

.principles {
  padding-top: 120px;
  padding-bottom: 120px;
}

.principles-list {
  width: 264px;
}

/* .principles-item{
} */

.principles-caption {
  margin-bottom: 8px;
}

/* .principles-text {
} */

/* ----- OUR DOING----- */

.doing {
  padding-bottom: 120px;
}

.doing-title {
  margin-bottom: 72px;
}

/* .doing-list {
}
.doing-item {
} */

/* ----- OUR TEAM----- */

.team {
  margin-top: 120px;
  margin-bottom: 120px;
}

.team-title {
  margin-bottom: 72px;
}

/* .team-list {
}
.team-item {
} */

.team-content {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* .team-caption {
}
.team-list {
} */

/* ----- PORTFOLIO PAGE----- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  margin-bottom: 72px;
}

.filter-btn {
  background-color: var(--accent-color);
  color: #4d5ae5;
}

.active-btn {
  background-color: #404bbf;
  color: var(--light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .gallery-list {
} */

.gallery-item {
  width: 360px;
}

.gallery-item > .link {
  color: currentColor;
}

.gallery-content {
  padding-top: 32px;
  padding-bottom: 32px;
}

.gallery-caption {
  margin-bottom: 8px;
}

/* .gallery-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;  
} */

/* ----- FOOTER ----- */

.footer {
  background-color: var(--dark-bg-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  line-height: 1.17;
  color: var(--light-color);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 264px;
  margin-top: 16px;
}
